<div class="main-container">
    <div class="logo-container">
        <div class="logo-wrapper">
            <h1 class="logo-s">S</h1>
            <h2>Shopin</h2>
        </div>
        <p>Sell on Shopin</p>
        <p>Register</p>
        
    </div>
    <div class="search-wrapper">
        <div class="search-input">
            <input placeholder="Search item here" type="search" class="search-input-box" />
        </div>
        <p>Consumer Electrronic</p>
    </div>
    <p>My Cart</p>
    <p class="profile-img"></p>
</div>